:root {
  /* Default color scheme */
  --nouns: #FBAF3C;
  --pronouns: #FBE27F;
  --verbs: #9ADF7D;
  --adjectives: #66C4FB;
  --prepositions: #FB88CF;
  --questions: #A579FB;
  --negations: #FB4C4C;
  --adverbs: #BE9780;
  --conjunctions: white;
  --determiners: #434343;
}

.theme-pastel {
  --nouns: #FFA471;
  --pronouns: #FFD07D;
  --verbs: #A9F4A3;
  --adjectives: #A3DCF4;
  --prepositions: #FDC1C1;
  --questions: #D8C1FD;
  --negations: #FF7C7C;
  --adverbs: #C6A068;
  --conjunctions: white;
  --determiners: #434343;
}

.theme-contrast {
  --nouns: #FF9A00;
  --pronouns: #FFCC00;
  --verbs: #4BFF00;
  --adjectives: #00A1FF;
  --prepositions: #FF009D;
  --questions: #5600FF;
  --negations: #FF0000;
  --adverbs: #8D451B;
  --conjunctions: white;
  --determiners: #000000;
}

.theme-dark {
  --nouns: #B8740C;
  --pronouns: #B79407;
  --verbs: #447032;
  --adjectives: #1772A7;
  --prepositions: #8B0B5A;
  --questions: #553F81;
  --negations: #A42E2E;
  --adverbs: #603B25;
  --conjunctions: white;
  --determiners: #1F1F1F;
}

button, a {
  background-color: white;
  border: 0.4rem solid transparent;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 1rem 1rem 1rem;
  flex-direction: column;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: relative;
}
button img, a img {
  max-height: 4rem;
}
button.werkwoord, a.werkwoord {
  border-color: var(--verbs);
}
button.werkwoord#categorie, a.werkwoord#categorie {
  background-color: var(--verbs);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -10px 0 -5px #78AF61, 0 -10px 1px -4px rgba(0, 0, 0, 0.15), 0 -20px 0 -10px #62924E, 0 -20px 1px -9px rgba(0, 0, 0, 0.15), 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
button.zelfstandig_naamwoord, a.zelfstandig_naamwoord {
  border-color: var(--nouns);
}
button.zelfstandig_naamwoord#categorie, a.zelfstandig_naamwoord#categorie {
  background-color: var(--nouns);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -10px 0 -5px #DD9B37, 0 -10px 1px -4px rgba(0, 0, 0, 0.15), 0 -20px 0 -10px #B37D2C, 0 -20px 1px -9px rgba(0, 0, 0, 0.15), 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
button.persoonlijk_voornaamwoord, a.persoonlijk_voornaamwoord {
  border-color: var(--pronouns);
}
button.persoonlijk_voornaamwoord#categorie, a.persoonlijk_voornaamwoord#categorie {
  background-color: var(--pronouns);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -10px 0 -5px #D0BB67, 0 -10px 1px -4px rgba(0, 0, 0, 0.15), 0 -20px 0 -10px #9E8E4E, 0 -20px 1px -9px rgba(0, 0, 0, 0.15), 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
button.belangrijk, a.belangrijk {
  border-color: var(--negations);
}
button.belangrijk#categorie, a.belangrijk#categorie {
  background-color: var(--negations);
}
button.vraagwoord, a.vraagwoord {
  border-color: var(--questions);
}
button.vraagwoord#categorie, a.vraagwoord#categorie {
  background-color: var(--questions);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -10px 0 -5px #926CC2, 0 -10px 1px -4px rgba(0, 0, 0, 0.15), 0 -20px 0 -10px #705297, 0 -20px 1px -9px rgba(0, 0, 0, 0.15), 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
button.voegwoord, a.voegwoord {
  border-color: var(--conjunctions);
}
button.voegwoord#categorie, a.voegwoord#categorie {
  background-color: var(--conjunctions);
}
button.bijwoord, a.bijwoord {
  border-color: var(--adverbs);
}
button.bijwoord#categorie, a.bijwoord#categorie {
  background-color: var(--adverbs);
}
button.bijvoeglijk_naamwoord, a.bijvoeglijk_naamwoord {
  border-color: var(--adjectives);
}
button.bijvoeglijk_naamwoord#categorie, a.bijvoeglijk_naamwoord#categorie {
  background-color: var(--adjectives);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -10px 0 -5px #4EACE4, 0 -10px 1px -4px rgba(0, 0, 0, 0.15), 0 -20px 0 -10px #4E94BC, 0 -20px 1px -9px rgba(0, 0, 0, 0.15), 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
button.voornaamwoord, a.voornaamwoord {
  border-color: var(--determiners);
}
button.voornaamwoord#categorie, a.voornaamwoord#categorie {
  background-color: var(--determiners);
}
button.voegwoord, a.voegwoord {
  border-color: var(--prepositions);
}
button.voegwoord#categorie, a.voegwoord#categorie {
  background-color: var(--prepositions);
}
button.voorzetsel, a.voorzetsel {
  border-color: var(--prepositions);
}
button.voorzetsel#categorie, a.voorzetsel#categorie {
  background-color: var(--prepositions);
}
button.ja, a.ja {
  border-color: var(--verbs);
  background-color: var(--verbs);
  font-size: 2rem;
}
button.nee, a.nee {
  border-color: var(--negations);
  background-color: var(--negations);
  font-size: 2rem;
}
button#categorie, a#categorie {
  align-self: flex-end;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 10px);
  text-align: center;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -10px 0 -5px #D1D1D1, 0 -10px 1px -4px rgba(0, 0, 0, 0.15), 0 -20px 0 -10px #A5A5A5, 0 -20px 1px -9px rgba(0, 0, 0, 0.15);
}
button.ai, a.ai {
  border-style: dashed;
}

fieldset {
  box-sizing: border-box;
  position: relative;
  padding: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 0.8rem;
  border-radius: 0px 1rem 1rem 0px;
  border: 1px solid #DDD;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
fieldset input {
  height: 100%;
  width: 100%;
  position: absolute;
  aspect-ratio: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
}
fieldset label {
  z-index: 3;
  font-size: 1rem;
}

#aiToggle:checked {
  background-color: #FFD4D4;
}

.langwoord * {
  font-size: 0.7rem;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
body nav {
  height: 2rem;
  background-color: #242424;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.3rem 0.5rem;
  gap: 1rem;
}
body nav img {
  height: 100%;
}
body main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
body main .soundboard {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 5fr;
  background-color: #D2E1FF;
}
body main .soundboard .topbar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  background-color: #8EB5FF;
  padding: 0.5rem;
  gap: 1rem;
}
body main .soundboard .topbar button, body main .soundboard .topbar a, body main .soundboard .topbar fieldset {
  border-radius: 1rem 1rem 1rem 1rem;
  border: 1px solid #DDD;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}
body main .soundboard .topbar button img, body main .soundboard .topbar a img, body main .soundboard .topbar fieldset img {
  order: -2;
}
body main .soundboard .topbar > div {
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
body main .soundboard .middle {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
  padding-top: 0.5rem;
}
body main .soundboard .middle .nav-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  height: 100%;
  padding-left: 0.5rem;
  margin-left: -1.5rem;
  padding-bottom: 0.5rem;
}
body main .soundboard .middle .nav-left button, body main .soundboard .middle .nav-left a, body main .soundboard .middle .nav-left fieldset {
  border-radius: 0px 1rem 1rem 0px;
  border: 1px solid #DDD;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}
body main .soundboard .middle .nav-left button img, body main .soundboard .middle .nav-left a img, body main .soundboard .middle .nav-left fieldset img {
  order: -2;
  z-index: 3;
}
body main .soundboard .middle .nav-left button.active, body main .soundboard .middle .nav-left a.active, body main .soundboard .middle .nav-left fieldset.active {
  background-color: #FFD4D4;
  border: 0.4rem solid #FF9E9E;
}
body main .soundboard .middle .dynamic {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

#output {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1rem;
  overflow-y: hidden;
  scroll-behavior: smooth;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#output::-webkit-scrollbar {
  display: none;
}

.blur {
  filter: blur(2px); /* Voeg een blur toe aan de main content in de bewerkingsmodus */
}
.blur:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Donkere overlay met 50% doorzichtigheid */
  pointer-events: none; /* Zorg ervoor dat de overlay de interactie met de inhoud niet blokkeert */
  z-index: 3; /* Zorg ervoor dat het boven de inhoud ligt */
}

.edit-button {
  display: none; /* Verberg de bewerkingsknoppen standaard */
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  background-color: #FFD4D4;
  border: 0.3rem solid #FF9E9E;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
  z-index: 10;
  font-size: 1.4rem;
}

.edit-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #D2E1FF;
  border: 0.3rem solid #8EB5FF;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.edit-popup.active {
  display: block;
}
.edit-popup div:nth-of-type(3) {
  display: flex;
  gap: 1rem;
}

.edit-mode .edit-button {
  display: flex; /* Toon de bewerkingsknoppen alleen in de bewerkingsmodus */
  justify-content: center;
  align-items: center;
  padding: unset;
  color: #FF9E9E;
  background-image: url("../images/plusteken.svg");
}

#editForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 3rem;
}
#editForm input:not(#tileUpload) {
  border-radius: 50rem;
  width: 100%;
  border: 0.2rem solid #8EB5FF;
  padding-left: 0.5rem;
}
#editForm #cancelEdit {
  background-color: #FFD4D4;
  border: 0.3rem solid #FF9E9E;
}

#loader {
  position: relative;
  width: 4.5em;
  height: 4.5em;
  transform: rotate(165deg);
}
#loader:before, #loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.5em;
  height: 2.5em;
  border-radius: 1.25em;
  transform: translate(-50%, -50%);
}
#loader:before {
  animation: before 2s infinite;
}
#loader:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 2.5em;
    box-shadow: 1em 1.5em #8EB5FF, -1em -1.5em #D2E1FF;
  }
  35% {
    width: 4.5em;
    box-shadow: 0 1.5em #8EB5FF, 0 -1.5em #D2E1FF;
  }
  70% {
    width: 2.5em;
    box-shadow: -1em 1.5em #8EB5FF, 1em -1.5em #D2E1FF;
  }
  100% {
    box-shadow: 1em 1.5em #8EB5FF, -1em -1.5em #D2E1FF;
  }
}
@keyframes after {
  0% {
    height: 2.5em;
    box-shadow: -1.5em 1em #FF9E9E, 1.5em -1em #FFD4D4;
  }
  35% {
    height: 4.5em;
    box-shadow: -1.5em 0 #FF9E9E, 1.5em 0 #FFD4D4;
  }
  70% {
    height: 2.5em;
    box-shadow: -1.5em -1em #FF9E9E, 1.5em 1em #FFD4D4;
  }
  100% {
    box-shadow: -1.5em 1em #FF9E9E, 1.5em -1em #FFD4D4;
  }
}
.loader {
  position: absolute;
  top: calc(50% - 2.25em);
  left: calc(50% - 2.25em);
}

#loadercontainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

#account .center {
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
}
#account .center .settings {
  display: grid;
  grid-template-rows: 2fr 3fr;
  gap: 1rem;
}
#account .center .settings a {
  display: flex;
  flex-direction: column;
}
#account .center .settings a img {
  order: -2;
}
#account .center .settings #avatar a {
  height: 100%;
  border: 0.4rem solid var(--pronouns);
}
#account .center .settings #avatar a img {
  height: 8rem;
  width: 8rem;
  max-height: 8rem;
}
#account .center .settings section:not(#avatar) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#account .center .settings section:not(#avatar) a {
  align-self: flex-end;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 10px);
  text-align: center;
  z-index: 1;
  background-color: #FF9E9E;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -10px 0 -5px #E58D8D, 0 -10px 1px -4px rgba(0, 0, 0, 0.15), 0 -20px 0 -10px #BD7575, 0 -20px 1px -9px rgba(0, 0, 0, 0.15);
}
#account .center .avatar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#account .center .avatar #av1, #account .center .avatar #av2, #account .center .avatar #av3 {
  align-self: flex-end;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 10px);
  text-align: center;
  z-index: 1;
  background-color: var(--adjectives);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -10px 0 -5px #4EACE4, 0 -10px 1px -4px rgba(0, 0, 0, 0.15), 0 -20px 0 -10px #4E94BC, 0 -20px 1px -9px rgba(0, 0, 0, 0.15);
}
#account .center .avatar.uiterlijk {
  border: 0.4rem solid var(--adjectives);
}
#account .center .avatar.instelling {
  border: 0.4rem solid #FF9E9E;
}

.keyboard-key {
  font-size: 2.5rem;
}

@font-face {
  font-family: "ITC Avant Garde Gothic";
  src: url("../fonts/ITCAvantGardeGothicBold.otf") format("opentype");
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  text-transform: lowercase;
  font-family: "ITC Avant Garde Gothic", sans-serif;
  font-weight: normal;
}

body {
  background-color: #D2E1FF;
  font-family: "ITC Avant Garde Gothic", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-height: 4rem;
}/*# sourceMappingURL=main.css.map */