
.blur{
    filter: blur(2px); /* Voeg een blur toe aan de main content in de bewerkingsmodus */
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Donkere overlay met 50% doorzichtigheid */
        pointer-events: none; /* Zorg ervoor dat de overlay de interactie met de inhoud niet blokkeert */
        z-index: 30; /* Zorg ervoor dat het boven de inhoud ligt */
    }
}

.edit-button {
    display: none; /* Verberg de bewerkingsknoppen standaard */
    position: absolute;
    top: -.7rem;
    right: -.7rem;
    background-color: $mindspeak-lightpink;
    border: .3rem solid $mindspeak-pink;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    z-index: 10;
    font-size: 1.4rem;
}
.edit-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $mindspeak-lightblue;
    border: .3rem solid $mindspeak-blue;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    &.active {
        display: block;
    }
    div:nth-of-type(3){
        display: flex;
        gap: 1rem;
    }
}
.edit-mode .edit-button {
    display: flex; /* Toon de bewerkingsknoppen alleen in de bewerkingsmodus */
    justify-content: center;
    align-items: center;
    padding: unset;
    color: $mindspeak-pink;
    background-image: url('../images/plusteken.svg');
}
#editForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 3rem;
    input:not(#tileUpload){
        border-radius: 50rem;
        width: 100%;
        border: .2rem solid $mindspeak-blue;
        padding-left: .5rem;
    }
    #cancelEdit{
        background-color: $mindspeak-lightpink;
        border: .3rem solid $mindspeak-pink;
    }
}